.sponsors {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  .sponsor {
    flex: 1 1 auto;
    text-align: center;
    padding: 8px;
    max-width: 200px;

    img {
      display: block;
      margin: 0 auto;
    }
  }
}

#title-sponsors {
  .sponsor {
    max-width: 260px !important;
    width: 260px !important;
  }
}
