---
title: "Nutrition"
---

Nutrition
=========

<div class="pull-left">
  <%= image_tag 'sponsors-gatorade.gif', class: 'img-responsive' %>
</div>

To ensure that you're fully prepared to be successful during your time at camp,
Gatorade Sports Fuel will be provided by Gatorade throughout the duration of camp.
Gatorade Prime Energy Chews, Gatorade Thirst Quencher and Gatorade Recover
Protein Bars or Shakes will be provided each day to help fuel athletes.
performance on the field. Gatorade Prime Energy Chews provide carbohydrates for
energy, without caffeine, while Gatorade Thirst Quencher delivers carbs to
refuel the body and electrolytes to help replace what athletes sweat out.
Gatorade Recover products have the carbs and protein athletes need to help
muscles recover.

* [Sports Nutrition Myths and Facts](/documents/gatorade-myths-and-facts.pdf)
* [Foods and Fluids for Football](/documents/gatorade-foods-and-fluids.pdf)
