Sponsors
========

<table>
  <tr>
    <td>
      <a href="//www.gatorade.com">
        <img src="/images/sponsors-gatorade.gif" class="img-responsive">
      </a>
    </td>
    <td>
      <a href="//www.spalding.com/football/index.php">
        <img src="/images/sponsors-bank-plus.gif" class="img-responsive">
      </a>
    </td>
    <td>
      <a href="//www.spalding.com/football/index.php">
        <img src="/images/sponsors-spalding.gif" class="img-responsive">
      </a>
    </td>
    <td>
      <a href="//www.mcdonalds.com/">
        <img src="/images/sponsors-mcdonalds.gif" class="img-responsive">
      </a>
    </td>
  </tr>
  <tr>
    <td>
      <a href="//d1sportstraining.com/">
        <img src="/images/sponsors-d1.gif" class="img-responsive">
      </a>
    </td>
    <td>
      <a href="//www.iberiabank.com/">
        <img src="/images/sponsors-iberia.gif" class="img-responsive">
      </a>
    </td>
    <td>
      <a href="//www.kraft.com/default.aspx/">
        <img src="/images/sponsors-kraft.gif" class="img-responsive">
      </a>
    </td>
    <td>
      <a href="//www.libertymutual.com/">
        <img src="/images/sponsors-liberty-mutual.png" class="img-responsive">
      </a>
    </td>
  </tr>
  <tr>
    <td>
      <a href="//www1.hilton.com/en_US/hi/hotel/MSYAHHH/index.do">
        <img src="/images/sponsors-hilton.jpg" class="img-responsive">
      </a>
    </td>
    <td>
      <a href="//directv.com/">
        <img src="/images/sponsors-directv.gif" class="img-responsive">
      </a>
    </td>
    <td>
      <a href="//att.com/gen/landing-pages?pid=3308">
        <img src="/images/sponsors-att.gif" class="img-responsive">
      </a>
    </td>
    <td>
      <a href="//sportsperformance.stvincent.org/">
        <img src="/images/sponsors-stvincents.gif" class="img-responsive">
      </a>
    </td>
  </tr>
  <tr>
    <td>
      <a href="//papajohns.com/">
        <img src="/images/sponsors-papajohns.jpg" class="img-responsive">
      </a>
    </td>
    <td>
      <img src="/images/sponsors-sportsmedicine.jpg" class="img-responsive">
    </td>
  </tr>
</table>
