      
<div class="social-link">
  <a href="https://www.facebook.com/Manning-Passing-Academy-112664905447444/">
    <div class="social-logo">
      <%= image_tag 'social-logo-facebook.png' %>
    </div>
    manningpassingacademy
  </a>
</div>
