      
<div class="social-link">
  <a href="https://www.instagram.com/manningpassingacademy">
    <div class="social-logo">
      <%= image_tag 'social-logo-instagram.png' %>
    </div>
    @manningpassingacademy
  </a>
</div>
