<header class="navbar navbar-static-top" id="top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">Manning Passing Academy</a>
    </div>
    <nav class="collapse navbar-collapse" role="navigtaion">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            About <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/page/purpose/">Purpose</a></li>
            <li><a href="/page/history/">History</a></li>
            <li><a href="/page/executive-staff/">Executive staff</a></li>
            <li><a href="/page/coaching-staff-emeritus/">Coaching staff emeritus</a></li>
            <li><a href="/page/testimonials/">Testimonials</a></li>
            <li><a href="/page/anniversary-album/">Anniversary album</a></li>
            <li><a href="/page/application-registration/">Application/Registration</a></li>
            <li><a href="/page/areas-of-instruction/">Areas of instruction</a></li>
            <li><a href="/page/faq/">FAQ</a></li>
          </ul>
        </li>
        <li>
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            Sign up<span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/page/important-dates/">Important dates</a></li>
            <li><a href="/page/eligibility/">Eligibility</a></li>
            <li><a href="/page/tuition/">Tuition</a></li>
            <li><a href="/page/day-campers/">Day campers</a></li>
            <li><a href="/page/balance-due/">Balance due</a></li>
            <li><a href="/page/refund-policy/">Refund policy</a></li>
            <li><a href="/page/application-registration/">Application/Registration</a></li>
            <li><a href="/page/equipment/">Equipment</a></li>
            <li><a href="/page/medical-information/">Medical information</a></li>
            <li><a href="/page/local-accommodations/">Local accommodations</a></li>
            <li><a href="/page/airport-shuttle/">Airport shuttle</a></li>
            <li><a href="/page/faq/">FAQ</a></li>
          </ul>
        </li>
        <li>
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            Prepare <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/page/preparing-for-camp/">Preparing for camp</a></li>
            <li><a href="/page/equipment/">Equipment</a></li>
            <li>
              <a href="/page/nutrition/">
                Nutrition
                <img src="/images/sponsors-gatorade.gif" height="15">
              </a>
            </li>
            <li><a href="/page/directions/">Directions</a></li>
            <li><a href="/page/faq/">FAQ</a></li>
          </ul>
        </li>
        <li>
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            The Camp <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/page/airport-shuttle/">Airport shuttle</a></li>
            <li><a href="/page/daily-schedule/">Daily schedule</a></li>
            <li><a href="/page/check-in-process/">Check-in process</a></li>
            <li><a href="/page/areas-of-instruction/">Areas of instruction</a></li>
            <li><a href="/page/campus-map/">Campus map</a></li>
            <li><a href="/page/day-campers/">Day campers</a></li>
            <li><a href="/page/equipment/">Equipment</a></li>
            <li><a href="/page/evening-speakers/">Evening speakers</a></li>
            <li><a href="/page/facilities/">Facilities</a></li>
            <li><a href="/page/medical-information/">Medical information</a></li>
            <li><a href="/page/passing-league/">Passing league</a></li>
            <li><a href="/page/room-and-board/">Room &amp; board</a></li>
            <li><a href="/page/roommates/">Roommates</a></li>
            <li><a href="/page/teams/">Teams</a></li>
            <li><a href="/page/faq/">FAQ</a></li>
          </ul>
        </li>
        <li>
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            Extras <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/page/sponsors/">Sponsors</a></li>
            <li><a href="/page/speed-seminar/">Speed seminar</a></li>
            <li><a href="/page/sunday-chapel-and-mass/">Sunday chapel &amp; mass</a></li>
            <li><a href="/page/camp-photos/">Camp photos</a></li>
            <li><a href="/page/online-store/">Offical MPA store</a></li>
            <li><a href="/page/media-only/">Media only</a></li>
            <li><a href="/page/faq/">FAQ</a></li>
          </ul>
        </li>
        <li>
          <a href="/page/contact-us/">Contact us</a>
        </li>
      </ul>

      <form class="navbar-form navbar-right" id="swift-type-search" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
      </form>
    </nav>
  </div>
</header>
