---
title: 2015 Manning Passing Academy
---

<div id="masthead">
  <div class="container">
    <h1>Image slider...</h1>
  </div>
</div>

<div id="secondary-header">
  <div class="container">
    <img src="/images/mpa-logo.png" alt="MPA Logo" class="img-responsive">
    <h1>2015 MANNING PASSING ACADEMY</h1>
    <h2>THURSDAY, JULY 9 - SUNDAY, JULY 12, 2015</h2>
  </div>
</div>
